<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhx.callback.mapper.ForwardInfoMapper">

    <resultMap id="BaseResultMap" type="com.dhx.callback.model.DO.ForwardInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="serverUri" column="server_uri" jdbcType="VARCHAR"/>
            <result property="param" column="param" jdbcType="VARCHAR"/>
            <result property="body" column="body" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="responseResult" column="response_result" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,server_uri,param,
        body,create_time,response_result
    </sql>
</mapper>
